$color_primary: #8176af;
$color_secondary: #c0b7e8;
$color_tertiary: #433d60;
$color_quaternary: #211e2e;
$color_quinary: #3a3456f2;
$color_senary: #ffffff;
$color_septenary: #343045;
$color_octonary: #302c42;

$main-gradient: linear-gradient(90deg, $color_primary 0%, $color_secondary 55%);
